TYPE = "development"

PORT = 3000
DB_HOST = ""
DB_USER = ""
DB_PASS = ""
DB_NAME = ""

JWT_SECRET = ""
API_URL_BMKG = "https://api.bmkg.go.id/publik/prakiraan-cuaca"
DEFAULT_ADM = "34"
API_URL_BMKG_AMANDEMEN = "https://cuaca.bmkg.go.id/api/df/v1/forecast/coord"
DEFAULT_PROVINSI = "Daerah Istimewa Yogyakarta"
API_URL_KOMODITAS_HARGA_PASAR = "https://api-panelhargav2.badanpangan.go.id/api/front/harga-pangan-informasi?province_id=14&city_id=&level_harga_id=1"
API_WARNING_BMKG = "https://nowcasting.bmkg.go.id/sb/yogya/Json/data.json"
